{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h1 class="mb-4 text-center">About CriminalBlog</h1>

<div class="card p-4 shadow mx-auto" style="max-width:700px;">

<p>
<strong>CriminalBlog</strong> es una app web desarrollada con la finalidad de crear un blog para los amantes de los casos criminales.
</p>

<p>
En la mismo los usuarios pueden conocer distintos casos criminales, leer información detallada y participar en discusiones mediante comentarios.
</p>

<p>
Este proyecto fue desarrollado como proyecto final del curso de Python.
</p>

<p>
En el mismo se utilizaron las siguientes tecnologias:
</p>

<ul>
<li>Python</li>
<li>Django</li>
<li>SQLite</li>
<li>Bootstrap</li>
</ul>

</div>

</div>

{% endblock %}